*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .25s all ease-in-out;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.header{
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 4px;
  background: rgb(150, 110, 190);
  margin: 6px 0;
  padding: 4px;
}
div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 12px;
  width: 400px;
}
h2{
  width: calc(100% - 50px);
}
h4{
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}
p{
  font-size: 12px;
}
.row{
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 6px 0;
  padding: 4px;
}
.column{
  width: 400px;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 6px 0;
  padding: 4px;
}
.green{
  background: rgb(33, 167, 33);
  border: 2px solid green;
}
.red{
  background: rgb(165, 16, 16);
  border: 2px solid rgb(102, 0, 0);
}
select{
  border: none;
  border-bottom: 2px solid rebeccapurple;
  margin: 2px;
}
textarea{
  width: 100%;
  padding: 4px;
  resize: none;
}
button{
  margin: 2px;
  padding: 4px;
  border: none;
  background: rebeccapurple;
  border: 2px solid rgb(62, 10, 114);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
button:hover{
  transform: translateY(-2px)
}
button:active{
  transform: translateY(2px) scale(.9);
}

input{
  width: calc(100% - 100px);
  border: none;
  border-bottom: 2px solid rebeccapurple;
}
input:focus{
  width: calc(100% - 100px);
  border: none;
  outline: none;
  border-bottom: 2px solid rebeccapurple;
}

span{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px auto;
}

span textarea{
  width: calc(100% - 100px);
  border: 2px solid rebeccapurple;
  border-radius: 4px;
}

span p{
  width: 100px;
}
